.banner{
	background-image:  url(../image/TANGER1.jpeg);
	height: 65vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner h1 {
	color: white;
}
.banner h2 {
	color: white;
}